.container {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin-top: 30px;
  width: 100%;
}

.card-messages {
  background-color: #e9ecef;
  width: 100%;
}

.message-email {
  font-weight: bold;
  color: blue;
}

.message-date {
  color: brown;
}

.message-text {
  color: green;
  font-style: italic;
}
