<div class="container">
    <div class="container-tabs">
        <form action="/" method="GET">
            <button type="submit" class="tabs-view {{#if viewSave}}tab-active{{/if}}">Formulario</button>
        </form>

        <form action="/productos" method="GET">
            <button type="submit" class="tabs-view {{#if viewList}}tab-active{{/if}}">Lista</button>
        </form>
    </div>

    {{#if viewList}}
        {{>listProducts}}
    {{/if}}    
    {{#if viewSave}} 
        {{>saveProducts}}
    {{/if}}
</div>